In [34]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [35]:
data = pd.read_csv('Delhi.csv')
data.head()

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,10500000,1200,Sector 10 Dwarka,2,1,0,1,0,0,1,...,1,0,1,0,0,0,0,0,0,0
1,6000000,1000,Uttam Nagar,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,15000000,1350,Sarita Vihar,2,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2500000,435,Uttam Nagar,2,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,5800000,900,Dwarka Mor,3,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [36]:
data.columns

Index(['Price', 'Area', 'Location', 'No. of Bedrooms', 'Resale',
       'MaintenanceStaff', 'Gymnasium', 'SwimmingPool', 'LandscapedGardens',
       'JoggingTrack', 'RainWaterHarvesting', 'IndoorGames', 'ShoppingMall',
       'Intercom', 'SportsFacility', 'ATM', 'ClubHouse', 'School',
       '24X7Security', 'PowerBackup', 'CarParking', 'StaffQuarter',
       'Cafeteria', 'MultipurposeRoom', 'Hospital', 'WashingMachine',
       'Gasconnection', 'AC', 'Wifi', 'Children'splayarea', 'LiftAvailable',
       'BED', 'VaastuCompliant', 'Microwave', 'GolfCourse', 'TV',
       'DiningTable', 'Sofa', 'Wardrobe', 'Refrigerator'],
      dtype='object')

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4998 entries, 0 to 4997
Data columns (total 40 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Price                4998 non-null   int64
 1   Area                 4998 non-null   int64
 2   Location             4998 non-null   object
 3   No. of Bedrooms      4998 non-null   int64
 4   Resale               4998 non-null   int64
 5   MaintenanceStaff     4998 non-null   int64
 6   Gymnasium            4998 non-null   int64
 7   SwimmingPool         4998 non-null   int64
 8   LandscapedGardens    4998 non-null   int64
 9   JoggingTrack         4998 non-null   int64
 10  RainWaterHarvesting  4998 non-null   int64
 11  IndoorGames          4998 non-null   int64
 12  ShoppingMall         4998 non-null   int64
 13  Intercom             4998 non-null   int64
 14  SportsFacility       4998 non-null   int64
 15  ATM                  4998 non-null   int64
 16  ClubHouse            4998 non-null   int64
 17  School               4998 non-null   int64
 18  24X7Security         4998 non-null   int64
 19  PowerBackup          4998 non-null   int64
 20  CarParking           4998 non-null   int64
 21  StaffQuarter         4998 non-null   int64
 22  Cafeteria            4998 non-null   int64
 23  MultipurposeRoom     4998 non-null   int64
 24  Hospital             4998 non-null   int64
 25  WashingMachine       4998 non-null   int64
 26  Gasconnection        4998 non-null   int64
 27  AC                   4998 non-null   int64
 28  Wifi                 4998 non-null   int64
 29  Children'splayarea   4998 non-null   int64
 30  LiftAvailable        4998 non-null   int64
 31  BED                  4998 non-null   int64
 32  VaastuCompliant      4998 non-null   int64
 33  Microwave            4998 non-null   int64
 34  GolfCourse           4998 non-null   int64
 35  TV                   4998 non-null   int64
 36  DiningTable          4998 non-null   int64
 37  Sofa                 4998 non-null   int64
 38  Wardrobe             4998 non-null   int64
 39  Refrigerator         4998 non-null   int64
dtypes: int64(39), object(1)
memory usage: 1.5+ MB

In [38]:
# Drop the 'Location' column as it is categorical
data = data.drop('Location', axis=1)

# Perform one-hot encoding on the categorical variables
data_encoded = pd.get_dummies(data)

# Split the data into features (X) and target variable (y)
X = data_encoded.drop('Price', axis=1)
y = data_encoded['Price']

In [39]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [40]:
model = DecisionTreeRegressor()
model.fit(X_train, y_train)

DecisionTreeRegressor()

In [49]:
# Ask for information about the house
area = float(input("Enter the area of the house: "))
bedrooms = int(input("Enter the number of bedrooms: "))

Enter the area of the house: 1491
Enter the number of bedrooms: 3

In [50]:
# Create a dictionary with the input values
input_data = {
    'Area': [area],
    'No. of Bedrooms': [bedrooms]
}

In [51]:
# Create a dataframe from the input data
input_df = pd.DataFrame(input_data)

# Perform one-hot encoding on the input dataframe
input_encoded = pd.get_dummies(input_df)

# Align the input dataframe with the training data columns
input_aligned = input_encoded.reindex(columns=X.columns, fill_value=0)

# Make the price prediction
predicted_price = model.predict(input_aligned)

print("Predicted Price: â‚¹", predicted_price[0])

Predicted Price: â‚¹ 10000000.0

In [48]:
# Evaluate the model's performance
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
print("Root Mean Squared Error:", rmse)

Root Mean Squared Error: 47146669.4788712